
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Already Registered</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>

<div class="boxsub">
  <h2>This Username Already registered</h2>
</div>
<center>
  <form action="/">
    <button id="showbtnbth" type="submit" name="reg"  >Go Back</button>
  </form>
  </center>

  </body>

